* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.back {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.hero {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.fname {
  color: greenyellow;
}
.logo {
  width: 50px;
  cursor: pointer;
}
.navbar {
  width: 0%;
  height: 15%;
  margin: auto;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
button {
  color: #fbfcfd;
  padding: 10px 25px;
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
}
.button1 {
  margin-left: 800px;
}
.content {
  color: #fbfcfd;
  position: absolute;
  top: 40%;
  left: 8%;
  transform: translateY(50%);
  z-index: 2;
}
h1 {
  font-size: 80px;
  margin: 10px 0 30px;
  line-height: 80px;
}
.side-bar {
  width: 50px;
  height: 100vh;
  background: linear-gradient(#00545d, #000729);
  position: fixed;
  right: 0;
  top: 0;
}
.menu {
  display: block;
  width: 25px;
  margin: 40px auto 0;
  cursor: pointer;
  display: none;
}
.social-links img,
.useful-links img {
  width: 25px;
  margin: 5px auto;
  cursor: pointer;
}
.social-links {
  width: 50px;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.useful-links {
  width: 50px;
  text-align: center;
  position: absolute;
  bottom: 30px;
}
.bubbles img {
  width: 50px;
  animation: bubble 7s linear infinite;
}
.bubbles {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: -10%;
}
/* toggle menu */
nav {
  flex: 1;
  text-align: right;
  display: none;
}
nav ul {
  display: inline-block;
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
}

@keyframes bubble {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  10% {
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translateY(-80vh);
    opacity: 0;
  }
}
.bubbles img:nth-child(1) {
  animation-delay: 1.5s;
  width: 25px;
}
.bubbles img:nth-child(2) {
  animation-delay: 0.5s;
  width: 25px;
}
.bubbles img:nth-child(3) {
  animation-delay: 2s;
  width: 55px;
}
.bubbles img:nth-child(4) {
  animation-delay: 3.5s;
  width: 35px;
}
.bubbles img:nth-child(5) {
  animation-delay: 2s;
  width: 50px;
}
.bubbles img:nth-child(6) {
  animation-delay: 4s;
  width: 45px;
}
.bubbles img:nth-child(7) {
  animation-delay: 5s;
  width: 50px;
}
@media screen and (max-width: 700px) {
  h1 {
    font-size: 50px;
  }
  .menu {
    display: inline;
    margin-left: 12px;
    margin-top: 20px;
  }
  .content {
    color: #fbfcfd;
    position: absolute;
    top: 20%;
    left: 5%;
    transform: translateY(50%);
    z-index: 2;
  }
  .bubbles {
    width: 80%;
    display: none;
  }
  .navbar button {
    display: none;
  }
  nav {
    display: inline;
  }
  nav ul {
    position: absolute;
    top: -5px;
    left: 246px;
    background: linear-gradient(#00545d, #000729);
    border-radius: 11px;
    width: 25%;
    opacity: 0.8;
    overflow: hidden;
    transition: max-height 0.7s;
  }
  nav ul li {
    font-size: 15px;
    color: #fbfcfd;
    line-height: 0;
    margin: 20px 30px;
  }
  nav ul li a {
    color: #fff;
  }
}
